.form-container {
  @apply flex flex-row;
  @apply p-8 lg:mx-auto lg:w-1/2 mb-2;
}

.form-container form {
  @apply w-full;
}

/* Toggle button */
.switch-container {
  @apply flex flex-row content-center mt-4;
}

.switch {
  @apply inline-block relative;
  width: 60px;
  height: 34px;  
}

.switch input {
  @apply opacity-0 w-0 h-0;
}

.slider {
  @apply absolute cursor-pointer inset-0 bg-gray-400 bg-opacity-40;
  border-radius: 34px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.slider:before {
  @apply absolute bg-white;
  content: "";
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

input:checked + .slider {
  background-color: #cb997e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-text {
  @apply mx-4 text-xl;
}