.header {
  @apply flex text-center;
  @apply top-0 inset-x-0 h-20 w-full;
  @apply shadow-lg;
  background-color: #ddbea9;
  color: #472d30;
}

/* Left Side */
.header-left {
  @apply flex flex-row content-center mx-2 p-2;
  @apply h-full;
}

.logo-container {
  @apply flex flex-auto flex-row self-center justify-center content-center;
  @apply ml-2;
}

.logo-container h1 {
  @apply hidden md:block lg:text-xl self-center ml-2;
}

.logo-icon {
  @apply w-12 h-12 self-center;
}

.hamburger-menu-container {
  @apply flex m-2;
}

.hamburger-btn {
  @apply flex items-center justify-center;
}

.animate-hamburger {
  @apply transition duration-200 ease-out transform rotate-90;
}

.menu-icon {
  @apply h-auto w-8;
  @apply transition duration-200 ease-out;
  min-width: 2rem;
}

/* Right Side*/
.header-right {
  @apply ml-auto;
  @apply flex flex-row items-center justify-between;
}

.search-bar {
  @apply flex w-2/3 h-1/2 rounded-full self-center;
  @apply bg-white;
}

.search-bar-icon {
  @apply h-1/3 ml-2 self-center;
  @apply align-middle;
}

.search-bar-input {
  @apply p-2 w-5/6 lg:w-full bg-transparent;
}

.profile-container {
  @apply flex content-center justify-center;
  @apply w-1/5 mx-4 lg:mx-0;
}

.avatar-container {
  @apply w-10 h-10 rounded-full self-center;
  @apply transition duration-200 ease-out;
}

.avatar-container:hover {
  @apply transition duration-200 ease-out transform scale-110;
}

.settings-menu {
  @apply absolute top-20 right-0 z-50;
  @apply flex flex-col text-left m-4 rounded-lg justify-center items-center;
}