/* Include Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen m-0;
    font-family: 'Noto Sans JP', sans-serif;
    /* Background gradient */
    background-color: #fff1e6;
  }
  
  div {
    @apply box-border;
  }

  #root {
    @apply h-full;
  }

  input {
    @apply select-none outline-none;
  }

  .page-container {
    @apply text-black;
  }

  .one-tab-container {
    @apply mx-4 lg:mx-20;
  }

  .narrow-page {
    @apply lg:w-1/2 lg:mx-auto;  
  }

  .card-item {
    @apply m-4 p-2;
  }

  .only-tab {
    @apply mt-20;
  }

  .content-panel {
    @apply bg-white rounded-lg shadow-lg border border-gray-100 border-solid;
  }

  .tab-heading {
    @apply text-2xl;
  }

  .button {
    @apply text-white hover:text-white;
    background-color: #b07d62;
    @apply border-none rounded-md shadow-lg;
    @apply py-2 px-4;
  }

  .button:hover {
    background-color: #8a5a44;
  }

  .disabled-btn {
    @apply bg-gray-500 hover:bg-gray-500;
  }

  .dbrown-text {
    color: #472d30;
  }
}
