/* Include Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen m-0;
    font-family: 'Noto Sans JP', sans-serif;
    /* Background gradient */
    background-color: #fff1e6;
  }
  
  div {
    @apply box-border;
  }

  #root {
    @apply h-full;
  }

  /* Input */
  input, textarea {
    @apply select-none outline-none resize-none;
  }

  .input-container {
    @apply my-6;
    @apply flex flex-col;
  }

  .input-field {
    @apply mt-2 p-2 leading-5;
    @apply border-gray-600 bg-gray-400 bg-opacity-20;
  }

  .input-field:focus {
    @apply bg-blue-100;
  }

  .comment-field {
    @apply border-b-2;
  }

  /* Content divs */
  .page-container {
    @apply text-black;
  }

  .one-tab-container {
    @apply mx-4 lg:mx-20;
  }

  .narrow-page {
    @apply lg:w-1/2 lg:mx-auto;  
  }

  .card-item {
    @apply m-4 p-2;
  }

  .card-item-6 {
    @apply m-6 p-2;
  }

  .card-item-y {
    @apply my-4 py-2;
  }

  .only-tab {
    @apply mt-20;
  }

  .content-panel {
    @apply bg-white rounded-lg shadow-lg border border-gray-100 border-solid;
  }

  .menu-panel {
    @apply bg-white shadow-md border border-gray-100 border-solid;
  }

  /* Buttons */
  .button {
    @apply text-white hover:text-white select-none outline-none;
    background-color: #d4a373;
    @apply border-none rounded-md shadow-lg;
    @apply py-2 px-4;
  }

  .button:hover {
    background-color: #fcbf49;
  }

  .disabled-btn {
    @apply bg-gray-500 hover:bg-gray-500 pointer-events-none;
  }

  .decline-btn {
    @apply bg-red-600 hover:bg-red-300;
  }

  .btn-container {
    @apply flex flex-row justify-center;
  }

  .accept-btn {
    @apply hover:bg-green-300 text-white shadow-md;
    background-color: #38b000;
  }

  /* Text/Font */
  .dbrown-text {
    color: #472d30;
  }

  .tab-heading {
    @apply text-2xl;
  }

  /* Images */
  .avatar {
    @apply h-10 text-white fill-current self-center;
    min-height: 40px;
    min-width: 40px;
  }

  .invisible {
    display: none !important;
  }
}
